@model SpecialResearch.Models.TestResult

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Просмотреть</title>
</head>
<body>

<div>
    <h4>TestResult</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipment.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Result)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interface)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interface.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SignalFound)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SignalFound)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestIsOk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestIsOk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.frequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.frequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestType.TestName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Login)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
</body>
</html>
