@model SpecialResearch.Models.TestResult

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Изменить</title>
</head>
    <body>
        <h4>Для оборудования</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Оборудование
                    </th>
                    <th>
                        Производитель
                    </th>
                    <th>
                        Модель
                    </th>
                    <th>
                        Серийный номер
                    </th>
                    <th>
                        Режим работы
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @ViewBag.eq.Name
                    </td>
                    <td>
                        @ViewBag.eq.Manufacturer
                    </td>
                    <td>
                        @ViewBag.eq.Model
                    </td>
                    <td>
                        @ViewBag.eq.SerialNumber
                    </td>
                    <td>
                        @ViewBag.eq.OperatingMode
                    </td>
                </tr>
            </tbody>
        </table>
        <hr />
        <h4>Испытание</h4>

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="EquipmentId" class="form-control" hidden></input>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="TestTypeId" class="control-label"></label>
                    <select asp-for="TestTypeId" class="form-control" asp-items="ViewBag.TestTypeId"></select>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="InterfaceId" class="control-label"></label>
                    <select asp-for="InterfaceId" class="form-control" asp-items="ViewBag.InterfaceId"></select>
                </div>
                <div class="form-group col-md-4">
                    @*<label asp-for="UserId" class="control-label"></label>*@
                    <input asp-for="UserId" class="form-control" hidden></input>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="Result" class="control-label"></label>
                    <input asp-for="Result" class="form-control" />
                    <span asp-validation-for="Result" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="frequency" class="control-label"></label>
                    <input asp-for="frequency" class="form-control" />
                    <span asp-validation-for="frequency" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    @*<label asp-for="Date" class="control-label"></label>*@
                    <input asp-for="Date" class="form-control" hidden />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>

                <div class="form-check col-md-10">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="SignalFound" /> @Html.DisplayNameFor(model => model.SignalFound)
                    </label>
                </div>
                <div class="form-group col-md-10">
                    @* Для отступа *@
                </div>

                <div class="form-check col-md-10">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="TestIsOk" /> @Html.DisplayNameFor(model => model.TestIsOk)
                    </label>
                </div>

                <div class="form-group col-md-10">
                    @* Для отступа *@
                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить испытание" class="btn btn-primary" />
            </div>
        </form>

        <div>
            <a asp-action="List" asp-route-id=" @ViewBag.eq.Id">Вернуться к Оборудованияю без изменения испытания</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </body>
</html>
