@model IEnumerable<SpecialResearch.Models.TestResult>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Оборудование для заявки @ViewBag.ReqNum</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Оборудование
            </th>

            <th>
                Производитель
            </th>
            <th>
                Модель
            </th>
            <th>
                Серийный номер
            </th>
            <th>
                Режим работы
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @ViewBag.eq.Name
            </td>

            <td>
                @ViewBag.eq.Manufacturer
            </td>
            <td>
                @ViewBag.eq.Model
            </td>
            <td>
                @ViewBag.eq.SerialNumber
            </td>
            <td>
                @ViewBag.eq.OperatingMode
            </td>
        </tr>
    </tbody>
</table>
<h2>Испытания</h2>
@if (ViewBag.StageID < 2)
{
    <p>
        <a asp-action="Create" asp-route-id="@ViewBag.eq.Id">Добавить новое испытание</a>
    </p>
}
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Result)
                </th>
                <th>
                    Интерфейс
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SignalFound)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TestIsOk)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.frequency)
                </th>
                <th>
                    Тип испытания
                </th>
                <th>
                    Испытатель
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Result)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Interface.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SignalFound)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TestIsOk)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.frequency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TestType.TestName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Name)
                    </td>
                    <td>
                        @if (ViewBag.StageID < 2)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
