<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -  АИС "Управление Специальными исследованиями"</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <img src="~/img/logo_ru.png" />
            <div class="container">

                <h4 align="center"> АИС <br>"Управление специальными исследованиями"</h4>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="nav nav-tabs">


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                               role="button" aria-haspopup="true" aria-expanded="false">Справочники</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/stages">Этапы заявки</a>

                                <a class="dropdown-item" href="/Interfaces">Интерфейсы</a>

                                <a class="dropdown-item" href="/TestTypes">Типы испытаний </a>

                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="/Roles">Права доступа</a>
                                <a class="dropdown-item" href="/Users">Пользователи</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                               role="button" aria-haspopup="true" aria-expanded="false">Отчеты</a>
                            <div class="dropdown-menu">

                                <a class="dropdown-item" href="/Report/ClosedRequest">Выполненные заявки</a>

                                <a class="dropdown-item" href="/Report/OpenedRequest">Поступившие заявки </a>

                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="/Report/FailTest">Техника, провалившая СИ</a>

                                <a class="dropdown-item" href="/Report/TestResults"> Проведенные СИ</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Requests">Заявки</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link" href="/TestResults">Результаты испытания</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/equipments">Оборудование</a>
                        </li>*@
                        <li class="nav-item">
                            @*<p class="nav-link text-dark">Подключен @Context.Session.GetString("CurrentUserName")<p>*@
                            <p class="nav-link text-dark">Подключен @User.Identity.Name<p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Users/LogOff">Войти под другим пользователем<a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - АИС "Управление Специальными исследованиями" - <a class="d-print-block" href="javascript:(print());">Распечатать эту страницу</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
