@model SpecialResearch.Models.Request

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>ТОчно хотите удалить заявку?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stage.StageName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creator.Login)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Controler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Controler.Login)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoCopy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoCopy)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Венуться без удаления</a>
    </form>
</div>
</body>
</html>
