@model SpecialResearch.Models.Request

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stage.StageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creator.Login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ControlerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Controler.Login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoCopy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoCopy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
